@model IEnumerable<WebIT.Temp.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string webPageId = "";
    if (Request.QueryString["webpage"] != null)
    {
        webPageId = Request.QueryString["webpage"].ToString();
    }
    string tmpl = "";
    if(Request.QueryString["tmpl"] != null)
    {
        tmpl = Request.QueryString["tmpl"].ToString();
    }
}

<div class="actionBox">
    <h2>Document Categories</h2>
    <div class="actionContent">
        <p class="headerOptions">
            @Html.ActionLink("<< Document Library", "DocLib", new { controller = "Body", action = "DocLib", webpage= @webPageId, tmpl = @tmpl})
            <span class="divider">|</span>
            @Html.ActionLink("Add Category", "Manage", new { controller = "Category", webpage = @webPageId, tmpl = @tmpl })
        </p>
        @if(ViewData["Error"] != null)
        {
            <p class="error">@ViewData["Error"]</p>
        }
         
        <table class="dataGrid" cellspacing="0" cellpadding="5">
            <tr class="headerRow">
                <th>Name</th>                
                <th>Actions</th>
            </tr>
            @if(Model != null && Model.Count() > 0)
            {
                foreach (var c in Model)
                {               
                    <tr>
                        <td>@c.Name</td>
                        <td>
                            @Html.ActionLink("Edit", "Manage", new { controller = "Category", action="Manage", id = c.ID })
                            <span class="divider">|</span>
                            <a href="#delete" onclick="if ( confirm('Are you sure you want to delete this category?'))  $('#delete_@(c.ID)').submit(); return false; ">Delete</a>
                            @{ 
                                Html.BeginForm("Delete", "Category", new { id = c.ID }, FormMethod.Post, new { id = "delete_" + c.ID, style="display:inline;" }); 
                            
                                Html.EndForm();
                            } 
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan = "2">Data is not available</td>
                </tr>
            }
        </table>
        @{ if (Model != null) { Html.Partial("~/Views/Shared/_Pager.cshtml"); } }
    </div>
   
</div>
